html, body {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    pointer-events: none;
}
#input {
    background-color: #7EA6F4;
    min-height: 100vh;
    max-height: 100vh;
    min-width: 15vw;
    display: flex;
    flex-direction: column;
    gap: 2%;
    overflow: auto;
}
#gameplay {
    background-color: #FFF8E5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 70vw;
}
#task_desk {
    display: flex;
    background-color: #FFB344;
    min-width: 100%;
    min-height: 25vh;
    height: 25vh;
    margin-top: auto;
    padding-left: 2%;
    padding-right: 2%;
    gap: 4%;
    pointer-events: all;
}
#output {
    background-color: #4A4DE7;
    min-height: 100vh;
    min-width: 15vw;
}
.task {
    display: grid;
    grid: repeat(3, 33.3%) / repeat(2,50%);
    align-items: center;
    border-radius: 10px;

    &::after {
        position: absolute;
        font-size: large;
        font-weight: bold;
        color: #1e3535;
    }
}

#input .task{
    pointer-events: all;
    min-height: 10vh;
    min-width: 100%;
    height: 10vh;
    position: relative;
    background-color: #A0E4F1;
    margin-bottom: 2%;
    animation: task-appear 500ms ease-in 0s;
    & label {
        display: none;
    }
    &::before {
        position: absolute;
        content: "";
        width: 5%;
        height: 10%;
        right: 10%;
        border-radius: 50%;
        border: 2px solid #05c2bf;
        animation: pulse 1s ease-in-out 0s infinite alternate;
    }
    &::after {
        content: "To Do";
        right: 25%;
        border-radius: 10px;
        background-color:#ff9486;
        padding: 5%;
    }
}
@keyframes pulse {
    from {
        scale: 1.5;
    }
    to {
        scale: 0.5;
    }
}
#input .cupcake_blueprint img {
    max-width: 90%;
    height: auto;
    max-height: 7vh;
    margin-left: 25%;
    position: absolute;
}
/*Estilo del pedido en el escrtorio   START*/
#task_desk .task {
    min-height: 100%;
    min-width: 20vw;
    width: 20vw;
    background-color: #05c2bf;
    transition-duration: 10s;
    transition-property: right;
    overflow: hidden;
    position: relative;
    pointer-events: none;
    animation: task-appear 500ms ease-in 0s;
    animation-fill-mode: forwards;
    &::after {
        left: 0;
        top: 0;
        content: "Doing";
        padding: 1%;
        background-color: #59CE8F;
        border-radius: 0 0 10px 0;
    }
}
@keyframes task-appear {
    from {
        scale: 0;
    }
    to {
        scale: 1;
    }
}
#border-task {
    min-height: 100%;
    min-width: 20vw;
    width: 20vw;
    border: 5px dashed #05c2bf;
    border-radius: 10px;
    box-sizing: border-box;
    animation: blink 250ms ease-in-out 0s infinite alternate;
    pointer-events: none;
}
@keyframes blink {
    from {
        filter: brightness(90%);
    }
    to {
        filter: brightness(120%);
        scale: 0.95;
    }
    
}
#task_desk .task label {
    max-height: 100%;
    max-width: 100%;
    /*width: 100%;*/
    height: 100%;
    display: flex;
    padding-right: 1%;
    gap: 25%;
    align-items: center;
    & .drop-zone {
        pointer-events: initial !important;
        height: 90%;
        width: 50%;
        background-color: #E8F9FD;
        border-radius: 50%;
        border: 2px solid #A0E4F1;
        transition: all 500ms,
            width 100ms 900ms,
            height 100ms 900ms;
        position: relative;
        box-sizing: border-box;
    }
    & .drop-zone::before {
        content: "";
        height: 50%;
        width: 50%;
        border-radius: 50%;
        border: 2px solid #A0E4F1;
        background-color: #E8F9FD;
        top: 23%;
        left: 23%;
        position: absolute;
    }
}
.drop-active .drop-zone  {
    background-color: #59CE8F !important;
    border-color: #59CE8F !important;
    scale: 1.1;
}
.drop-active.drop-zone{
    background-color: #59CE8F !important;
    border-color: #59CE8F !important;
    scale: 1.1;
}
.check_ingredient {
    animation-name: do-img;
    animation-delay: 1s;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
    & .drop-zone {
        background-color: #FF1E00 !important;
        border-color: #FF1E00 !important;
        width: 0 !important;
        height: 0 !important;
        border-width: 0 !important;
    }
    & .drop-zone::before {
        animation-fill-mode: forwards;
        animation-duration: 1s;
        animation-name: drop-done-anim;
        animation-timing-function: ease-in;
    }
    & img {
        animation-name: do-img;
        animation-delay: 1s;
        animation-duration: 250ms;
        animation-fill-mode: forwards;
    }
}
@keyframes do-img {
    to {
        justify-content: center;
        filter: none;
        gap:0;
    }
}
@keyframes drop-done-anim {
    0% {
        scale: 1;
    }
    25% {
        scale: 1.2;
    }
    50% {
        scale: 0.8;
        background-color: #59CE8F;
        border-color: #59CE8F;
    }
    75% {
        scale: 1.1;
    }
    90% {
        scale: 0.6;
    }
    100% {
        scale: 0;
    }
}
.cupcake_blueprint {
    grid-column: 1;
    justify-self: center;
    grid-row: 1 / 4;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    width: 100%;
    position: relative;
}

#task_desk .cupcake_blueprint img {
    max-width: 90%;
    height: auto;
    max-height: 15vh;
    margin-left: 10%;
    position: absolute;
}

.cupcake_blueprint img {
    &:nth-child(1){
        z-index: 0;
        top: 40%;
    }
    &:nth-child(2){
        z-index: 1;
        top: 10%;
    }
    &:nth-child(3){
        z-index: 2;
        scale: 0.5;
        top: -10%;
    }
}
.ingredient_blueprint {
    max-width: 50%;
    max-height: 90%;
    filter: grayscale(100%);
}
/*Estilo del pedido en el escrtorio   START*/

/*Estilo de la banda transportadora y cada ingrediente*/
.selector {
    pointer-events: initial;
    position: relative;
    min-height: 20vh;
    overflow: hidden;
    /*background-color: #E8F9FD;
    border-width: 2px 0 2px 0;
    border-color: #4A4DE7;
    border-style: solid;*/
    & img {
        max-height: 0;
        position: absolute;
        right: 100%;
        transition: right 10s linear;
    }
}

.show {
    max-height: 90% !important;
    right: -20% !important;
    pointer-events: initial;
}

.transporter{
    position: absolute;
    background-color: #E05D5D;
    border-radius: 20%;
    height: 2vh;
    width: 100%;
    bottom: 10%;
    z-index: 1;
}
